{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center pt-5" style="min-height: 100vh;">
        <div class="w-0"> <!-- Обмеження ширини -->
        <h1>Change your password</h1>
            <p>Use the form below to change your password:</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change">
            </form>
        </div>
    </div>

{% endblock %}