{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %} {% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'library/css/styles.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="py-2">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{% url 'library:index' %}" class="nav-link px-2 active" aria-current="page">Головна</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Жанри</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Популярні книги</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Добірки</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Зв'язок</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Про нас</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link px-2">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">Sign up</a></li>
        </ul>
    </div>
</nav>

<header class="py-5">
    <div class="container text-center">
        <h1 class="fs-3 fw-bold">Ласкаво просимо до Book Haven</h1>
        <p class="fs-5">Зануртесь у світ літератури з ретельно підібраними творами для вас.</p>
        <form class="d-flex justify-content-center mt-4" role="search" method="get" action="{% url 'library:search' %}">
            <input type="search" class="form-control w-50 me-2" placeholder="введіть назву книги, жанр, автора або хоча б початок назви" aria-label="Search" name="query">
            <button type="submit" class="btn btn-outline-primary">Пошук</button>
            {% csrf_token %}
        </form>
    </div>
</header>

    {% block content %}

    {% endblock %}

  <div class="container">
  <footer class="py-3 mt-5" style="background-color: #f5f1e8; border-top: 1px solid #d6d2c4;">
    <div class="d-flex justify-content-between align-items-center">
      <p class="mb-0" style="color: #5c5c5c; font-size: 0.9rem;">© 2024 Book Haven, Inc. All rights reserved.</p>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Privacy</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Terms</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Support</a></li>
      </ul>
    </div>
  </footer>
</div>
</body>
</html>