{% load static %}
{% load book_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{% block title %} {% endblock %}</title>
    {% block style %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'library/css/styles.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>

     <nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
        <div class="container">
            <a class="navbar-brand" href="{% url 'library:index' %}">Book Haven</a>
            <!-- Кнопка для мобільного меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Основне меню -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item "><a href="{% url 'library:index' %}" class="nav-link{% if section == 'main' %} selected{% endif %}" aria-current="page">Головна</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if section == 'genres' %}selected{% endif %}" href="#" id="genresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Жанри
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="genresDropdown">
                            {% get_all_genres as all_genres %}
                            {% for genre in all_genres %}
                                <li><a class="dropdown-item {% if section == genre.genre_name %}selected{% endif %}" href="{% url 'library:books_by_genre' genre.genre_name %}">{{ genre.genre_name }}</a></li>
                            {% endfor %}
    {#                        <li><a class="dropdown-item" href="#">Детективи</a></li>#}
    {#                        <li><a class="dropdown-item" href="#">Романтика</a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item {% if section == 'popular_books' %}selected{% endif %}"><a href="#" class="nav-link">Популярні книги</a></li>
                    <li class="nav-item {% if section == 'book_collections' %}selected{% endif %}"><a href="#" class="nav-link">Добірки</a></li>
                    <li class="nav-item {% if section == 'connection' %}selected{% endif %}"><a href="#" class="nav-link">Зв'язок</a></li>
                    <li class="nav-item {% if section == 'about' %}selected{% endif %}"><a href="#" class="nav-link">Про нас</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item "><a href="" class="nav-link">{{ request.user.username }}</a></li>
                        <li class="nav-item nav-link">|</li>
                        <li class="nav-item "><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item {% if section == 'log in' %}selected{% endif %}"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                        <li class="nav-item {% if section == 'sign up' %}selected{% endif %}"><a href="#" class="nav-link">Sign up</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>




    <header class="py-4">
        <div class="container text-center">
            <h1 class="fs-3 fw-bold">Ласкаво просимо до Book Haven</h1>
            <p class="fs-5">Зануртесь у світ літератури з ретельно підібраними творами для вас.</p>
            <form class="d-flex justify-content-center mt-1" role="search" method="get"  action="{% url 'library:search' %}">
                <input type="search" class="form-control w-50 me-2" required placeholder="введіть назву книги, жанр, автора або хоча б початок назви" aria-label="Search" name="query">
                <button type="submit" class="btn btn-outline-primary">Пошук</button>
                {% csrf_token %}
            </form>
        </div>
    </header>


    {% block content %}

    {% endblock %}

  <div class="container">
  <footer class="py-3 mt-5" style="background-color: #f5f1e8; border-top: 1px solid #d6d2c4;">
    <div class="d-flex justify-content-between align-items-center">
      <p class="mb-0" style="color: #5c5c5c; font-size: 0.9rem;">© 2024 Book Haven, Inc. All rights reserved.</p>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Privacy</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Terms</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" style="font-size: 0.9rem;">Support</a></li>
      </ul>
    </div>
  </footer>
</div>
</body>
</html>